.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(34, 34, 34);
  img {
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
  }
}

.char {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  border: 1px solid black;
  background-color: rgb(230, 255, 173);
  margin: 5px;
  border-radius: 9px;
  padding: 20px;
}
